<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Commodity Inventory Management System</title>
    <style>
        h1{
            text-align: center;
        }

    </style>
</head>
<body>

<h1>Commodity Inventory Management System</h1>


<form th:action="@{/commentGoods}" method="post" align="center">

    Item ID：<input type="text" readonly name="id" th:value="${goods.id}"><br/>
    Item Name：<input type="text" readonly name="name" th:value="${goods.name}"><br/>

    Address：<input type="text" name="address"><br/>
    Phone NO.：<input type="text" name="phone" ><br/>
    Email：<input type="text" name="email"><br/>
    Order No.：<input type="text" name="number" ><br/>
    <input type="submit" value="Shipping">
</form>


</body>
</html>
